@use "include" as *;

html {
	font-size: $font-size-html;
}

body {
	font-family: $font-family-global;
	font-style: normal;
	font-size: $font-size-global;
	line-height: $line-height-global;
	font-weight: $font-weight-global;
	color: $text-color-primary;

	background: $background-color-global $background-image-global-big no-repeat 50% 0% /contain;
}

.container {
	width: $container-width;
	max-width: calc($container-width-max + $container-padding * 2);
	margin: 0 auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
	/* Testing breakpoint mixin */
	@include m-max(lg)
}

a {
	color: $links-color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0px solid $accent-color-primary;
	}
}

.btn {
	// font-family: "Lato", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1em;
	color: $buttons-color-primary;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	display: inline-block;
	position: relative;

	background-color: transparent;
	transform-style: preserve-3d;
	perspective: 200px;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 13px;
		top: 50%;
		left:10px;

		opacity: 0.3;
		background-color: $buttons-color-primary;
		transform: rotateY(0deg);
		transition: all 0.9s ease-in-out;
		
	}
	&:hover {
		color: $buttons-color-secondary;
		text-decoration: none;
			&::after {
				transform: rotateY(180deg);
				transition: all 0.3s ease-in-out;
				background-color: $buttons-border-color-secondary;
			}
	}
	&:focus {
		color: $buttons-color-primary;
			&::after {
				transform: scale(1.5);
				left:0;
				height: 1em;
				background-color: $buttons-border-color-secondary;
				transform: rotateY(150deg);
				opacity: 0.2;
			}
	}
	&--big {
		padding: 33px $btn--big-inline-padding;
		border: 1px solid $buttons-border-color-primary;
		&::after {
			width: calc(100% - $btn--big-inline-padding * 2);
			left: calc(10px + $btn--big-inline-padding);
		}
		&:hover {
			border-color: $buttons-border-color-secondary;
		}
		&:focus {

			&::after {
				transform: scale(1);
				left:0;
				top:0;
				height: 100%;
				width: 100%;
				transform: translate(-50% -50%);
				opacity: 0.1;
			}			
		}
	} 
}

.heading {
	font-family: $font-family-headings;
	font-weight: 400;
	color: $font-color-heading;
	letter-spacing: normal;
	& em {
		font-style: italic;
		color: $accent-color-primary;
	}
	& a {
		font-style: italic;
		color: $accent-color-primary;
		&:hover {
			color: $buttons-color-secondary;
			text-decoration: none;
		}
	}
	&-1 {
		font-size: 4.4rem;
		line-height: 1.18182em;
		margin-bottom: 20px;
	}
	&-2 {
		font-size: 4.0rem;
		line-height: 1.2em;
		margin-bottom: 20px;
	}
	&-3 {
		font-size: 2.4rem;
		line-height: 2em;
		letter-spacing: 0.105em;
		margin-bottom: 15px;
	}
}

.top-header {
	margin-top: 30px;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
	backdrop-filter: blur(4.5px);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		min-height: 80px;

	}
	&__nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-grow: 0;
	}
}


.logo {
	min-width: 107px;
	&__link {
		
	}
	&__img {
		display: block;
		color: $light-color-primary;
	}
}

.iframe {
	max-width: 100%;
	border:0;
}


.hamburger-toggle {
	display: none;
}

.hamburger-toggle-label {
	display: none;
}


.nav-menu {
	display: flex;
	flex-direction: row;
	gap: 30px;

	position: relative;
	width: auto;
	top: auto;
	right: auto;

	padding: 10px 0px 10px 30px;

	border: 0px none;
	background-color: transparent;

	opacity: 1;
	&__item {
		border: none;
	}
	&__link {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 24px;
		color: $text-color-primary;
		letter-spacing: 0.07em;

		display: block;
		position: relative;
		padding: 0px;

		transition: all 0.8s ease-in-out;


		&::after {
			content: "";
			position: absolute;
			width: 0%;
			height: 3px;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			background: $nav-links-hover-bg;
			opacity: 1;
			transition: width 1s ease-in-out, opacity 0.8s ease-in-out;
		}
		&:hover {
			text-decoration: none;
			&::after {
				opacity: 0.3;
				width: 100%;
				background: $nav-links-hover-bg;
				transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
			}
		}
	}
}

.main-content {
	&__section {
		margin-bottom: 120px;
	}
}

.hero-section {
	max-width: 523px;
	padding: 150px 0;

	& p {
		letter-spacing: 0.01em;
		max-width: 84%;
		margin-bottom: 50px;
	}
}

.benefits-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: wrap row;
	gap: 90px 30px;
	& .heading-2 {
		max-width: 96%;
		margin-bottom: 30px;
	}
	&__block {
		flex: 1 1 48%;

		position: relative;
		max-width: 70%;
		min-height: 250px;
		padding: 20px 35px;

		&::before {
			content: "";
			position: absolute;
			width:100%;
			height: 1px;
			top: -30px;
			left:0;


			border-top: 1px solid $border-color-primary;
		}
	}
	& p {
	}

}

.blockquote {
	letter-spacing: 0.04em;
	padding: 30px 0 0 60px;
	background: $quote-icon-image no-repeat left top;
	&__content {
	font-size: 3.2rem;
	line-height: 1.44em;
	margin-bottom: 40px;
		&:has(>cite) {
			margin-bottom:0;
		}
	}
	&__author {
		font-family: $font-family-headings;
		font-style: italic;
		font-size: 2rem;
		line-height: 1em;	
		font-weight: 400;
		letter-spacing: 0.08em;
	}
}

.quote-section {
	font-weight: 400;
	color: $light-color-primary;

	min-height: 400px;
	padding: 70px 300px 100px 100px;

	background: $text-color-primary url("../assets/img/quote-background.webp") no-repeat center center / cover;

	&__block {
		max-width: 710px;
	}
}

.video-section {
	display: flex;
	flex-direction: column;

	padding-inline: 100px;
	&__video-container {
		order: -1;
	}
}

.video-container {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	&::before,
	&::after {
		content: "";
		position: absolute;
		aspect-ratio: 1/1;
		width: 1.35%;
		height: auto;
		top: 50%;
		left:1%;


		border: 1px solid $border-color-primary;
		border-radius: 50%;
		transform: translateY(-50%);
	}

	&::after {
		width: 3.6%;
		height: auto;
		left: auto;
		right: 1.8%;
	}	

	&__video-outer {
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;
		aspect-ratio: auto $video-aspect-ratio;
		width: 100%;

		border-radius: 32px;	
		outline: 1px solid $border-color-primary;

		&:before {
			content: "";
			position: absolute;
			width: 89.4%;
			height: 89.6%;
			left: 3.3%;
			right: 7.3%;

			background: url("../assets/img/screensaver-only-for-video.webp") no-repeat center / cover;
			outline: 1px solid $border-color-primary;
			border-radius: 5px;
			cursor: pointer;
		}
		&::after {
			content: $play-button-bg;
			display: block;
			position: absolute;
			width: 120px;
			height: 120px;
			top: 50%;
			left:50%;

			transform: translate(-50%, -50%);
			opacity: 0.5;

			cursor: pointer;
			pointer-events: auto;
		}
		&.initiated {
			outline: 2px solid $accent-color-primary;
			&::before {
				content: "";
			}
			&::after {
				content: none;
			}
		}
		&:hover {
			&::after {
				opacity: 1;	
				zoom: 1.2;
				outline: 2px solid $accent-color-primary;
				border-radius: 50%;
			}
		}
	}
	&__iframe {
		position: absolute;
		aspect-ratio: auto 16/19;
		width: 89.5%;
		height: auto;
		max-height: 89.5%;
		left: 3.3%;
		right: 7.4%;

		outline: 1px solid $accent-color-primary;
		border-radius: 5px;
	}
}

.bottom-footer {
	font-size: 1.4rem;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 30px 0;

	}
	& p span {
		opacity: 0.6;
	}
	&__link {
		opacity: 1;
		color: $text-color-primary;
	}

}