@use "include" as *;
@use 'sass:color';
html {
	font-size: $font-size-html;
}

body {
	font-family: $font-family-global;
	font-style: normal;
	font-size: $font-size-global;
	line-height: $line-height-global;
	font-weight: $font-weight-global;
	color: $text-color-primary;
	background: $background-color-global $background-image-global-big no-repeat 50% 0% /contain;
}

.container {
	width: $container-width;
	max-width: calc($container-width-max + $container-padding * 2);
	margin: 0 auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
}

a {
	color: $links-color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0px solid $accent-color-primary;
		&:not(.nav-menu__link):not(.btn) {
			outline-width: 2px;
			outline-offset: 3px; 
			border-radius: 10px;
		}
	}
}

p {
	letter-spacing: 0.012em;
	opacity: 0.8;
}

.btn {
	// font-family: "Lato", sans-serif;
	@include font-basic(2rem, 1em, 700, $buttons-color-primary);
	letter-spacing: 0.08em;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	background-color: transparent;
	transform-style: preserve-3d;
	perspective: 200px;
	&::after {
		content: "";
		position: absolute;
		width: 97%;
		height: 13px;
		top: 50%;
		left:10px;
		opacity: 0.3;
		background-color: $buttons-color-primary;
		transform: rotateY(0deg);
		transition: all 0.9s ease-in-out;
	}
	&:hover {
		color: $buttons-color-secondary;
		text-decoration: none;
			&::after {
				transform: rotateY(180deg);
				transition: all 0.3s ease-in-out;
				background-color: $buttons-border-color-secondary;
			}
	}
	&:focus {
		color: $buttons-color-primary;
			&::after {
				transform: scale(1.5);
				left:0;
				top:0;
				height: 100%;
				width: 100%;
				opacity: 0.1;
				border: 1px solid $text-color-primary; 
			}
	}
	&--big {
		padding: 33px $btn--big-inline-padding;
		border: 1px solid $buttons-border-color-primary;
		&::after {
			width: calc(98% - $btn--big-inline-padding * 2);
			left: calc(10px + $btn--big-inline-padding);
		}
		&:hover {
			border-color: $buttons-border-color-secondary;
		}
		&:focus {
			&::after {
				transform: scale(1);
				left:0;
				top:0;
				height: 100%;
				width: 100%;
				transform: translate(-50% -50%);
				opacity: 0.1;
			}			
		}
	} 
}

.heading {
	font-family: $font-family-headings;
	font-weight: 400;
	color: $font-color-heading;
	letter-spacing: normal;
	& em {
		font-style: italic;
		color: $accent-color-primary;
	}
	& a {
		font-style: italic;
		color: $accent-color-primary;
		&:hover {
			color: $buttons-color-secondary;
			text-decoration: none;
		}
	}
	&-1 {
		font-size: 4.4rem;
		line-height: 1.18182em;
		margin-bottom: 20px;
	}
	&-2 {
		font-size: 4.0rem;
		line-height: 1.2em;
		margin-bottom: 25px;
	}
	&-3 {
		font-size: 2.4rem;
		line-height: 2em;
		margin-bottom: 6px;
		&--huge {
			@include font-basic(6.8rem, 1.06em);
			text-align: center;
			& span {
				@include font-basic(4.0rem, 1.25em);
				color: $symbol-color;
				vertical-align: middle;
			}
		}
	}
}

.top-header {
	margin-top: 30px;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
	backdrop-filter: blur(4.5px);
	&__container {
		@include flex-ext(space-between, center);
		min-height: 80px;
	}
	&__nav {
		@include flex-ext(flex-end, center);
		flex-grow: 0;
	}
}

.logo {
	min-width: 107px;
	&__link {
	}
	&__img {
		display: block;
		color: $light-color-primary;
	}
}

.iframe {
	max-width: 100%;
	border:0;
}

.hamburger-toggle {
	display: none;
}

.hamburger-toggle-label {
	display: none;
}

.nav-menu {
	@include flex-ext(null, null, row, 30px);
	position: relative;
	width: auto;
	top: auto;
	right: auto;
	padding: 10px 0px 10px 30px;
	border: 0px none;
	background-color: transparent;
	opacity: 1;
	&__item {
		border: none;
	}
	&__link {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 24px;
		color: $text-color-primary;
		letter-spacing: 0.07em;
		display: block;
		position: relative;
		padding: 0px;
		transition: all 0.8s ease-in-out;
		&::after {
			content: "";
			@include ah-c;
			width: 0%;
			height: 3px;
			bottom: 0px;
			background: $nav-links-hover-bg;
			opacity: 1;
			transition: width 1s ease-in-out, opacity 0.8s ease-in-out;
		}
		&:hover,
		&:focus {
			text-decoration: none;
			&::after {
				opacity: 0.3;
				width: 100%;
				background: $nav-links-hover-bg;
				transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
			}
		}
	}
}

.main-content {
	&__section {
		margin-bottom: 120px;
	}
}

.hero-section {
	max-width: 523px;
	padding: 150px 0;
	margin-bottom: 0;
	& p {
		max-width: 84%;
		margin-bottom: 50px;
	}
}

.bg-half-section {
	@include flex-ext(flex-end, stretch);
	padding-block: 45px;
	background: url("../assets/img/statistic-image@2x.webp") no-repeat 0 50% / 49%;
	&__container {
		width: 100%;
		max-width: 770px;
		padding-left: 70px;
	}
}

.transparent-container {
	background-color: color.scale(rgba($background-color-global, $alpha: 90%));
	@include flex-ext(flex-end, center, row, 70px 100px, wrap);
	align-content: center;
	&__block {
		flex: 1 0 40%;
	}
}

.info-section {
	min-height: 670px;
}

.info-blocks {
	@include flex-ext(flex-start, flex-start, row, 0, nowrap);
	padding-block: 45px;
	padding-left: 0;
	&__block {
		& .heading {
			margin-bottom: 12px;
		}
		& ul {
			@include flex-ext(center, center, column, 80px 0);
		}
		& p {
			margin-bottom: 30px;
		}
		& p:last-of-type {
			margin-bottom: 50px;
		}
		&:first-of-type {
			@include flex-ext(center, center, column, 40px);
			width: 100%;
			text-align: center;
			flex: 0 0 370px;
			& h3 + p {
				margin-bottom: 0;
			}
		}
		& .heading.heading-3--huge + p {
			position: relative;
			&::after {
				content: "";
				background-color: $accent-color-primary;
				@include ah-c;
				width:100px;
				height: 1px;
				bottom: -40px;
			}
		}
		& li:last-of-type .heading.heading-3--huge + p {
			&::after {
				content: none;
			}
		}
	}
}

.features-section {
	min-height: 540px;
	background: url("../assets/img/features-background-image@2x.webp") no-repeat 0 50% / 51%;
	& li:not(:last-of-type) {
		margin-bottom: 10px;
	}
}

.benefits-section {
	@include flex-ext(space-between,flex-start, row, 90px 30px, wrap);
	padding-top: 30px;
	& .heading-2 {
		max-width: 96%;
		margin-bottom: 30px;
	}
	&__block {
		flex: 1 1 48%;
		position: relative;
		max-width: 70%;
		min-height: 250px;
		padding: 20px 35px;
		&::before {
			content: "";
			position: absolute;
			width:100%;
			height: 1px;
			top: -30px;
			left:0;
			border-top: 1px solid $border-color-primary;
		}
	}
}

.blockquote {
	padding: 30px 0 0 60px;
	background: $quote-icon-image no-repeat left top;
	& p {
	font-size: 3.2rem;
	line-height: 1.44em;
	margin-bottom: 25px;
	letter-spacing: 0.045em;
	opacity: 1;
		&:has(>cite) {
			margin-bottom:0;
		}
	}
	&__author {
		font-family: $font-family-headings;
		font-style: italic;
		font-size: 2rem;
		line-height: 1em;	
		font-weight: 400;
		letter-spacing: 0.08em;
	}
}

.quote-section {
	font-weight: 400;
	color: $light-color-primary;
	min-height: 400px;
	padding: 70px 100px;
	background: $text-color-primary url("../assets/img/quote-background@2x.webp") no-repeat center center / cover;
	&__block {
		max-width: 770px;
	}
}

.video-section {
	@include flex-ext(null,null,column);
	padding-inline: 100px;
	& p {
		max-width: 900px;
	}
	&__video-container {
		order: -1;
	}
}

.video-container {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	margin-bottom: 105px;
	&::before,
	&::after {
		content: "";
		@include av-c;
		aspect-ratio: 1/1;
		width: 1.35%;
		height: auto;
		left:1%;
		border: 1px solid $border-color-primary;
		border-radius: 50%;
	}
	&::after {
		width: 3.6%;
		height: auto;
		left: auto;
		right: 1.8%;
	}	
	&__video-outer {
		@include flex-center(null);
		position: relative;
		aspect-ratio: auto $video-aspect-ratio;
		width: 100%;
		border-radius: 32px;	
		outline: 1px solid $border-color-primary;
		&:before {
			content: "";
			position: absolute;
			width: 89.4%;
			height: 89.6%;
			left: 3.3%;
			right: 7.3%;
			background: url("../assets/img/screensaver-only-for-video@2x.webp") no-repeat center / cover;
			outline: 1px solid $border-color-primary;
			border-radius: 5px;
			cursor: pointer;
		}
		&::after {
			content: $play-button-bg;
			display: block;
			width: 120px;
			height: 120px;
			@include avh-c;
			opacity: 0.5;
			cursor: pointer;
			pointer-events: auto;
		}
		&.initiated {
			outline: 2px solid $accent-color-primary;
			&::before {
				content: "";
			}
			&::after {
				content: none;
			}
		}
		&:hover {
			&::after {
				opacity: 1;	
				zoom: 1.2;
				outline: 2px solid $accent-color-primary;
				border-radius: 50%;
			}
		}
	}
	&__iframe {
		position: absolute;
		aspect-ratio: auto 16/19;
		width: 89.5%;
		height: auto;
		max-height: 89.5%;
		left: 3.3%;
		right: 7.4%;

		outline: 1px solid $accent-color-primary;
		border-radius: 5px;
	}
}

.reviews-section {
	margin-bottom: 100px;
	& > .heading-2 {
		margin-bottom: 20px;
	}
	& > .heading-2,
	& > p {
		max-width: 400px;
	}
	& > p {
		margin-bottom: 50px;
	}
}

.reviews-container {
	@include flex-ext(center, center, row, 30px, null);
	&__review {
		@include flex-ext(space-between, flex-start, column-reverse, null, null);
		position: relative;
		max-width: 370px;
		min-height: 340px;
		padding: 30px 40px;
		background-color: rgba(25, 28, 41, 0.6);
		color: $light-color-primary;
		&::before {
			content: "";
			background: url("../assets/img/review-bg-image-1@2x.webp") no-repeat 50% 50% /cover;
			position: absolute;
			width:100%;
			height: 100%;
			top:0;
			left:0;
			z-index: -1;
		}

		&:nth-of-type(2):before {
			background-image: url("../assets/img/review-bg-image-2@2x.webp");
		}

		&:nth-of-type(3):before {
			background-image: url("../assets/img/review-bg-image-3@2x.webp");
		}
		& .heading-3 {
			@include font-basic(2.0rem, 1.0em, 400, $light-color-primary);

			letter-spacing: 0.08em;
			margin-bottom: 0;
		}
		& cite {
			font-style: italic;
		}
		& p {
			@include font-basic(1.6rem, 1.625em, 400);
			margin-bottom: 10px;
		}
	}
}

.contact-section {
	@include flex-ext(space-between, flex-start, row);
	padding-top: 55px;
	margin-bottom: 100px;
	&__col {
		flex: 0 1 470px;
		&:first-of-type {
			margin-top: 21px;
		}
	}
}

.form-block {
	&__form {
		@include flex-ext(flex-start, stretch, column, 40px 0);
	}
	&__input {
		// display: block;
		@include font-basic(2.0rem, 1.0em, 400, null, null);
		border-bottom: 1px solid color.scale(rgba($text-color-primary, $alpha: 10%));
		padding-bottom: 8px;
		color: color.scale(rgba($text-color-primary, $alpha: 60%));
		background-color: transparent; 
		-webkit-text-fill-color: color.scale(rgba($text-color-primary, $alpha: 60%));
		@include transition(color);
		&:is(:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :autofill, :-internal-autofill-previewed, :-internal-autofill-selected) {
			-webkit-box-shadow: 0 0 0px 40rem $background-color-global inset;
			border-color: rgba(134, 134, 134, 0.1)!important;
		}
		&::placeholder {
			font: italic 1.8rem/1.12em $font-family-headings;
			color: $text-color-primary;
			letter-spacing: 0.08em;
			opacity: 0.5;
			@include transition(all);
		}
		&:hover {
			border-color:  color.scale(rgba($text-color-primary, $alpha: 20%));
		}
		&:focus {
			border-color: color.scale(rgba($accent-color-primary, $alpha: 70%));
			
			&::placeholder {
				letter-spacing: 0.15em;
				transform: translateX(3px);
			}
		}
	}
	&__btn {
		align-self: flex-start;
	}
}

.visually-hidden {
	@include v-hid;
}

.border-on-top {
	border-top: 1px solid $border-color-primary;
}

.bottom-footer {
	font-size: 1.4rem;
	&__container {
		@include flex-ext(space-between, center);
		padding: 25px 0;
	}
	&__author {
		padding-left: 30px;
		& span {
			padding-right: 10px;
		}
	}
	& p span {
		opacity: 0.6;
	}
	&__link {
		opacity: 1;
		color: $text-color-primary;
		letter-spacing: 0.07em;
	}

	&__nav {
		& .nav-menu {
			gap:35px;
		}
	}
}

.switch-theme {
	width: 40px;
	height: 40px;
	background: url("../assets/img/face_cat.png") no-repeat 50% 50% / 70%;
	opacity: 0.3;
	position: fixed;
	top: 55px;
	right: 30px;
	z-index: 100;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
	border-radius: 50%;
	&:hover {
		opacity: 1;
	}
}

.theme-dark .switch-theme {
	filter: invert(1);
}